.container {
  width: 600px;
  background: yellow;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.item {
  flex: 1;
  background-color: blue;
  color: white;
  font-size: 25pt;
}
.item2 {
  flex: 2;
}
